* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

ol,
ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
  border: 0;
}

button {
  border: 0;
  background: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
