.profile {
  display: flex;
  gap: space("sm");

  &Img {
    width: rem(60);
    flex-shrink: 0;
  }

  .nameGroup {
    display: flex;
    align-items: baseline;
    gap: rem(6);

    .name {
      font-size: font("base");
      font-weight: 800;
      letter-spacing: -0.04em;
      color: color("text");
    }

    .sub {
      font-size: rem(11);
      font-weight: 600;
      color: color("muted");
    }
  }

  .intro {
    padding: rem(6) rem(6) rem(6) rem(0);
    font-size: rem(13);
    font-weight: 600;
    line-height: 1.55;
    letter-spacing: -0.04em;
    color: rgba(color("text"), 0.82);
    word-break: keep-all;
  }
}
