@use "@/assets/scss/abstracts" as *;

.btn-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: space("xs");
  height: rem(30);
  line-height: 100%;
  padding: 0 space("sm");
  font-size: font("sm");
  font-weight: 500;
  color: color("text-soft");
  border: 1px solid color("hairline");
  border-radius: radius("sm");
  background: color("white");
  transition: all 0.3s ease("default");

  svg {
    font-size: font("md");
    transition: transform 0.3s ease("default");
  }

  &:hover {
    color: color("primary");
    border-color: color("primary");
    transform: translateY(rem(-1));

    svg {
      color: color("primary");
    }
  }
}
