@use "sass:map";
@use "variables" as *;

@function get-color($name) {
  @if map.has-key($theme-colors, $name) {
    @return map.get($theme-colors, $name);
  }

  @if map.has-key($colors, $name) {
    @return map.get($colors, $name);
  }

  @error "Unknown color `#{$name}`. Check your $theme-colors and $colors maps.";
}

@function space($size) {
  @return map.get($space, $size);
}

@function radius($size) {
  @return map.get($radius, $size);
}

@function font($size) {
  @return map.get($font, $size);
}

@function bp($point) {
  @return map.get($breakpoints, $point);
}
